<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{partials/base :: head}">
	    <title th:text="'Cadastro'"></title>
	</head>
<body>
	<header th:replace="~{partials/header :: header}"></header>
	
	<div class="row justify-content-center mt-5">
		<div th:if="${errorMessage}" class="alert alert-danger">
		    <span th:text="${errorMessage}"></span>
	</div>
	
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Cadastro</h2>
						<form id="formulario" action="/users/cadastro_post" method="post" th:object="${cliente}">
						    <div class="form-group">
						        <label for="cpf">CPF</label>
						        <input type="text" class="form-control" id="cpf" th:field="*{cpf}" placeholder="Digite seu CPF" required>
						    </div>
						    <div class="form-group">
						        <label for="nome">Nome</label>
						        <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite seu nome completo" required>
						    </div>
						    <div class="form-group">
						        <label for="email">Email</label>
						        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Digite seu email" required>
						    </div>
						    <div class="form-group">
						        <label for="telefone">Telefone</label>
						        <input type="text" class="form-control" id="telefone" th:field="*{telefone}" placeholder="Digite seu telefone" required>
						    </div>
						    <div class="form-group">
						        <label for="data_nascimento">Data de Nascimento</label>
						        <input type="date" class="form-control" id="data_nascimento" th:field="*{dataNascimento}" th:value="${#dates.format(dataNascimento, 'yyyy-MM-dd')}" />
						    </div>
						    <div class="form-group">
						        <label for="password">Senha</label>
						        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Digite sua senha" required>
						    </div>
							<div class="form-group">
							    <label for="confirm_password">Confirme sua senha</label>
							    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" required>
							    <small id="passwordError" class="form-text text-danger" style="display: none;">As senhas não correspondem.</small>
							</div> 
						    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
						</form>
                        <div class="text-center mt-3">
                            <a th:href="@{/users/login}">Já possui uma conta? Faça login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/imask"></script>
    <script>
		function ajustarFormatacao() {
				    // Remove a máscara do CPF
					var cpfElement = document.getElementById('cpf');
				    const cpfValue = cpfElement.value.replace(/\D/g, '');
				    cpfElement.value = cpfValue;
					

				    // Remove a máscara do 
					var telefoneElement = document.getElementById('telefone');
				    const telefoneValue = telefoneElement.value.replace(/\D/g, '');
				    telefoneElement.value = telefoneValue;
					
				  }
		document.addEventListener('DOMContentLoaded', function() {
				
			 
		  // Máscara do CPF
		  var cpfElement = document.getElementById('cpf');
		  var maskOptions = {
		    mask: '000.000.000-00'
		  };
		  var mask = IMask(cpfElement, maskOptions);
		
		  console.log("Está passando aqui")
		  // Máscara do telefone
		  var telefoneElement = document.getElementById('telefone');
		  var maskOptions2 = {
		    mask: '(00)00000-0000'
		  };
		  var mask2 = IMask(telefoneElement, maskOptions2);
		  
		  const form = document.getElementById('formulario');
		  	    form.addEventListener('submit', function(event) {
		  			event.preventDefault();
		  			console.log("Passa aqui")
		  		    ajustarFormatacao();
					
		  		    const password = document.getElementById('password').value;
		  		    const confirmPassword = document.getElementById('confirm_password').value;
		  		    const errorMessage = document.getElementById('passwordError');

		  		    errorMessage.style.display = 'none';
		  		    if (password !== confirmPassword) {
		  				event.preventDefault();
		  	        	errorMessage.textContent = 'As senhas não correspondem.';
		  	        	errorMessage.style.display = 'block';
		  		    } else {
						form.submit();
					}
		  		 });

		  // Função para ajustar a formatação
		});
		
				  
	  	
    </script>
</body>
</html>
